/apis/poi/ @DevOpsOpenHack/devopsohpivey
/apis/trips/ @DevOpsOpenHack/devopsohpivey
/apis/user-java/ @DevOpsOpenHack/devopsohpivey
/apis/userprofile/ @DevOpsOpenHack/devopsohpivey
/iac/ @DevOpsOpenHack/devopsohpivey
